<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bcrypt and Session</h1>

     <%if ( username !== "anonimous"){%>
       <h2>
         Wellcome <b style="color:red"><%= username %>!!!</b>
           <p><a href="/logout">Dou you want to logout??</a></p>
      </h2>
     <%} else {%>
       <h2>Wellcome, visitor!!</h2>
       <h4>
         <p><a href="/login">Do you want to login in?</a></p>
         <p><a href="/register">Or you want to register?</a></p>
       </h4>
     <%}%>
    <hr>
    <h2>In this application: </h2>
    <p>1. Create an endpoint to register users</p>
    <p>2. Create express route</p>
    <p>3. Create user model</p>
    <p>4. Create view with form</p>
    <p>5. fill path to register user</p>
    <p>6. Use bcrypt to save the user's hash instead of the password</p>
    <p>7. Use Express-session to save user data in session.</p>
    <p>8. Make session accessible to the entire application</p>
    <p>9. Use of ejs templates</p>


  </body>
</html>
