<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bcrypt and Session</h1>
    <p>1. Crear un endpoint para registrar usuarios</p>
    <p>1.1 crear ruta express</p>
    <p>1.2 crear modelo user</p>
    <p>1.3 crear vista con formulario</p>
    <p>1.4 rellenar ruta para registrar usuario</p>
    <p>1.5 usar bscrypt para guardar el hash del usuario en vez de la password</p>
    <p><a href="/register">Registrate</a></p>
  </body>
</html>
